body{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    padding-top: 90px;
    background: url(./assets/flowers8.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: rgb(216, 213, 213);
}
audio:hover {transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);}
audio{
    width: 50%;
}


.titles{
    color: black;
}
.teachings{
    padding-top: 20%;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 5em;
}

.jumbotron{
    color: black;
}