@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
body{
    padding-top: 90px;
    background: url(./assets/nature1.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
}
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
}
#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}
.content1{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}
h1{
    font-weight: 700;
    font-size: 5em;
}
/* #footer{
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);

} */
#service{
    background-color: purple;
    color: white;
}
/*.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/