body{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    padding-top: 90px;
    background: url(./assets/plants3.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: rgb(85, 79, 79);
}

.tmember img{
    width: 100%;
    border-radius: 20px;
}
.tmember p{
    font-size: large;
}
.tmember{
    padding-bottom: 8%;
}

h5{
    color: black;
}
.team-info{
    padding-top: 20%;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 5em;
}